* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./dance.jpg") ;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button{
    background: transparent;
    border: .15em solid rgba(0,0,0,.65);
    padding: .1em;
    border-radius: 25%;
    font-size: 4rem;
    opacity: .65;
}

button:hover {
    border: .15em solid rgba(0,0,0,1);
    cursor: pointer;
    opacity: 1;
}

.fa-pause {
    display: none;
    padding: 0 4px;
}